.contactContainer {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(182, 222, 245); */
    background-image: url(../img/images/orange-abstract2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

