.contactContainer {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(14, 15, 15); */
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 100px;
}

.contactWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contactHeading {
    width: 90%;
    margin: 0 auto;
}

.contactHeading h2 {
    margin: 0;
    font-size: 1.9rem;
}

.headingFirst, 
.headingSecond, 
.headingThird {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.headingFirst div {
    width: 100px;
    height: 5px;
    background-color: rgb(31, 69, 252);
}

.headingSecond div {
    width: 70px;
    height: 5px;
    background-color: var(--orange-red);
}

.headingThird div {
    width: 60px;
    height: 5px;
    background-color: rgb(31, 69, 252);
}

.formContainer {
    width: 100%;
}

form {
    width: 90%;
    /* border: 2px solid var(--orange-red); */
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    padding: 5px 10px;
    color: var(--orange-red);
}

form input {
    height: 30px;
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--orange-red);
}

form textarea {
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--orange-red);
    height: 100px;
}

.submitButton {
    height: auto;
    padding: 5px 0;
    display: inline-block;
    text-align: center;
}

form button {
    width: 130px;
    height: 35px;
    border: 2px solid var(--orange-red);
    padding: 5px 10px;
    color: var(--orange-red);
    color: white;
    background-color: var(--orange-red);
    /* background: transparent; */
}

.socialMediaContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--orange-red);
    
}

.socialMediaContainer div {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.socialMediaContainer p {
    margin: 0;
    padding: 5px 10px;
}

.mediaBox {
    /* background-color: black; */
    justify-content: flex-start;
    padding: 5px 10px;
}

.mediaBox img {
    padding-right: 20px;
}

.footerContainer {
    width: 100%;
    border-top: 2px solid black;
}

.footerContainer div {
    width: 90%;
    margin: 0 auto;
}

.footerContainer p {
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

.footerContainer div:nth-of-type(1) {
    color: var(--orange-red);
}

.footerSecondBox p {
    text-align: right;
}



