* {
  box-sizing: border-box;
}

body {
  font-family: "Fragment", sans-serif;
  font-size: 100%;
  /*  this overflow causes problems! */
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  line-height: 1.2rem;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

picture {
  display: block;
}

:root {
  --blue-color: #3584c9;
  --orange-red: rgb(230, 82, 45);
  /* --raspberry-red: #d8315b; */
  --indigo-blue: #1F45FC;
  --midnight-blue: #031133;
  --border-radius: 5px;
  --small-padding: 7px 10px;
}

@font-face {
  font-family: "Zuma";
  src: url(./fonts/zuma/Zuma-BF64f991db1dd35.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Annette";
  src: url(./fonts/annette/Annette-BF64d4daca500c4.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pilcrow-regular";
  src: url(./fonts/pilcrow/Pilcrow-Regular-BF64dd8808df29b.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pilcrow-semibold";
  src: url(./fonts/pilcrow/Pilcrow-Semibold-BF64dd8808cf0c5.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pilcrow-medium";
  src: url(./fonts/pilcrow/Pilcrow-Medium-BF64dd8808de63a.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fragment";
  src: url(./fonts/fragment/FragmentMono-Regular.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sublem";
  src: url(./fonts/sublem/Sublem-BF6474e2f3c2552.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Belogo";
  src: url(./fonts/belogo/BELOGO.otf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bame";
  src: url(./fonts/bame/Bame/Bame.ttf);
  font-style: normal;
  font-display: swap;
}


