* {
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    font-size: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

picture {
    display: block;
}

:root {
    --blue-color: #3584c9;
    --orange-red: rgb(230, 82, 45);
    --border-radius: 5px;
    --small-padding: 7px 10px;
}

/* @font-face {
    font-family: "Lost-Ages-Regular";
    src: url(./fonts/LostAgesPersonalUseRegular-Ea0nl.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */