.headerContainer {
    position: relative;
    z-index: 20;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--orange-red); */
    background-color: black;
    height: auto;
    /* box-shadow: 0px 5px 4px 0px rgba(230,82,45,0.76); */
    box-shadow: 0px 5px 4px 0px rgba(36, 34, 33, 0.726);
    padding: 10px;
}

/* https://html-css-js.com/css/generator/box-shadow/ */

.secondBox {
    display: flex;
    align-items: center;
}

.headerContainer h1 {
    color: white;
    margin: 0;
}


.selectContainer {
    height: auto;
}

.selectContainer select {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 5px 10px;
    color: var(--orange-red);
    cursor: grab;
}

/*  no way to overcome option tag?  */
option {
    background-color: black;
}


.navigation {
    margin: 0 auto;
    display: flex;
}

.navigation button {
    background: transparent;
    border: none;
    cursor: grab;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    /* height: 80%; */
    border: 1px solid rgb(230, 82, 45);
}

.navigation li {
    list-style-type: none;
    /* text-decoration: none; */
    padding: 15px;
    width: 100%;
}



.navLinks {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    width: 100%;
    cursor: grab;
}

.navigation nav {
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    width: 90vw;
    height: 300px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.closeNav {
    width: 90%;
    margin: 0 auto;
    align-items: flex-end;
}

.closeNav > button {
    width: 100%;
    margin: 0 auto;
    padding: 7px 0;
    cursor:grab;
    align-self: flex-end;
}