.homeContainer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(250, 197, 197);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.homeContainer div {
    height: 50px;
}

/*  maybe this will work when it will be some padding or margin */
.firstParagraph {
    margin: 0;
    padding: 10px 20px;
    overflow: hidden;
}

.furtherLink button {
    background: none;
    border: none;
    cursor: pointer;
}