.projectsContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-bottom: 20px;
  padding-top: 70px;
  gap: 20px;
}

.projectsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.projectsContainer h2 {
  font-size: 1.5rem;
  margin: 0;
}

.projectItem {
  border: 2px solid var(--orange-red);
  /* border-radius: var(--border-radius); */
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.projectIntro {
  width: 100%;
  background-color: var(--orange-red);
  color: white;
}

.projectIntro h3 {
  margin: 0;
  padding: 5px 10px;
}

.projectImage {
  width: 100%;
  height: auto;
}

.projectImage img {
  width: 100%;
  height: auto;
}


.projectLinks {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 10px;
}

.projectLinks a {
  width: 130px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  color: var(--orange-red);
  /* background-color: var(--orange-red); */
  /* border-radius: var(--border-radius); */
  border: 2px solid var(--orange-red);
  padding: 5px 10px;
}

.projectItem p {
  margin: 0;
  padding: 5px 10px;
  /* overflow: hidden; */
}
